@font-face {
    font-family: inter;
    src: url('../fonts/inter.ttf');
}

* {
    color: #fafafa;
    font-family: inter;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

html, body, .container-fluid, #main-row, #main-left, #main-right {
    height: 100%;
}

#main-left {
    background-image: url('../img/sun.jpg');
    background-size: 100% auto;
    background-position: center;
}

.overlay {
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    z-index: 1;
    top: 0; left: 0;
    right: 0; bottom: 0;
}

#temp, #clima, #cidade {
    position: relative;
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    z-index: 2;
}

#temp {
    font-size: 7em;
    margin-top: 1em;
    margin-left: 0.4em;
}

#clima {
    margin-top: -1em;
    font-size: 1.5em;
    font-weight: bold;
}

#cidade {
    margin-top: -1em;
    font-size: 0.8em;
}

#main-right {
    background-color: #1a1a1a;
}

.max-min {
    margin-top: 3em;
}

.icons, .clima {
    margin-top: 3em;
}

.icons {
    width: 7em;
    height: 7em;
    float: right;
    filter: invert(72%) sepia(11%) saturate(5254%) hue-rotate(325deg) brightness(94%) contrast(90%);
}

.icons2 {
    width: 5em;
    height: 5em;
    float: right;
    filter: invert(72%) sepia(11%) saturate(5254%) hue-rotate(325deg) brightness(94%) contrast(90%);
}

.clima2 {
    text-align: left;
    font-size: 1.3em;
    margin-top: 1em;
}

.clima {
    margin-top: 3.3em;
    text-align: left;
    font-size: 1.5em;
}

input, button {
    margin-top: 3em;
}

input[type="text"] {
    background-color: rgba(0,0,0,0.0);
    border: none;
    border-bottom: 2px solid #E6854C;
    border-radius: 0;
}

input[type="text"]:focus {
    background-color: rgba(0,0,0,0.0);
    border-color: #E6854C;
    box-shadow: none;
}